.content-projects {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
}

.title-project {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 300;
    color: black;
    font-weight: 800;
    font-size: 50px;
    padding: 50px 0;
}

.item-list-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;    
}

.name-project {
    font-weight: 500;
    font-size: 25px;
}

