.content-projects {
    background-color: rgb(169, 169, 169);
    min-height: 80vh;
    height: auto;
}

.list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
}

.title-project {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 80px;
    padding: 50px 0;
}

.item-list-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;   
    
}

.name-project {
    font-weight: 500;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

img {
    border-radius: 50px; 
}

