main {
    background-image: url(../../assets/backgroungAbout.jpg);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

}

p {
    color: white
}

img {
    width: 100px;
    height: 100px;
}




