main {
    background-image: url(../../assets/backgroungAbout.jpg);
    height: calc(97vh - 70px);
    background: cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: rgb(255, 255, 255);
    flex-direction: row;
    background-size: cover;
}


/* .background-texto {
  background-color: rgba(134, 134, 134, 0.322); 
  
} */

/* perfil {
    width: 250px;
    height: 250px;
    border-radius: 10px;
} */

h1 {
    font-size: 80px;
}

p {
    font-size:25px;
}







